What was done here: Cleaning of tables 3,9,and 12, transforming numerical columns into floats, removing * from cells, and placing with null values.

In [1]:
import pandas as pd

In [11]:
df3 = pd.read_csv('Table_3_merged_filtered_float.csv')
df9 = pd.read_csv('Table 9.csv')
df12 = pd.read_csv('Table 12.csv')

In [12]:
df3_important_columns  = ["Period", "Fund name", "Fund type", "ABN",
    "Net assets at beginning of period", "Net assets at the end of period",
    "Employer contributions ",
    "Member contributions", "Net rollovers", "Total benefit payments ", "Net earnings ",
    "Total investment income",
    "Total gains/losses",
    "Operating expense ratio",
    "Net earnings after tax",
    "Total liabilities at the end of period",
    "One-year\nrate of return"
]

df9_important_columns  =  ["Period", "Fund name", "Fund type", "ABN",
    'Proportion of investments in  fixed income',
       'Proportion of investments in equity',
       'Proportion of investments in property',
       'Proportion of investments in infrastructure',
       'Proportion of investments in commodities',
       'Proportion of investments in other'
]
df12_important_columns  = ["Period", "Fund name", "Fund type", "ABN", 'Total number of member accounts at the end of period',
       'Number of members accounts : female',
       'Number of members accounts : male']

In [14]:
#create a key identification for every column 
import pandas as pd

# Sample DataFrames: df3, df9, df12

# Step 1: Keep only the important columns
df3 = df3[df3_important_columns]
df9 = df9[df9_important_columns]
df12 = df12[df12_important_columns]

In [21]:
df9.head()

,Period,Fund name,Fund type,ABN,Proportion of investments in fixed income,Proportion of investments in equity,Proportion of investments in property,Proportion of investments in infrastructure,Proportion of investments in commodities,Proportion of investments in other
0,2022-06-30,Alcoa of Australia Retirement Plan,Corporate,8.092880e+10,0.27,0.43,0.08,0.06,NaN,0.01
1,2022-06-30,AMG Super,Retail,3.009932e+10,0.14,0.63,0.05,0.01,0.0,0.00
2,2022-06-30,AMP Super Fund,Retail,7.842196e+10,0.19,0.58,0.08,0.01,NaN,0.06
3,2022-06-30,ANZ Australian Staff Superannuation Scheme,Corporate,8.381013e+10,0.14,0.61,0.09,0.03,0.0,0.03
4,2022-06-30,Aracon Superannuation Fund,Retail,4.058655e+10,0.27,0.42,0.02,0.02,NaN,0.17

In [20]:
# Get all column names after the 6th column
all_columns = df3.columns.tolist()
columns_after_10 = all_columns[5:]

# Filter out only object type columns from this list
object_cols_after_10 = df3[columns_after_10].select_dtypes(include=['object']).columns.tolist()

# Replace '*' with NaN in the specified columns
for col in object_cols_after_10:
    df3[col] = df3[col].replace('*', np.nan)

# Convert columns to float
df3[object_cols_after_10] = df3[object_cols_after_10].astype(float)

In [22]:
# Get all column names after the 6th column
all_columns = df9.columns.tolist()
columns_after_10 = all_columns[5:]

# Filter out only object type columns from this list
object_cols_after_10 = df9[columns_after_10].select_dtypes(include=['object']).columns.tolist()

# Replace '*' with NaN in the specified columns
for col in object_cols_after_10:
    df9[col] = df9[col].replace('*', np.nan)

# Convert columns to float
df9[object_cols_after_10] = df9[object_cols_after_10].astype(float)

In [23]:
# Get all column names after the 6th column
all_columns = df12.columns.tolist()
columns_after_10 = all_columns[5:]

# Filter out only object type columns from this list
object_cols_after_10 = df12[columns_after_10].select_dtypes(include=['object']).columns.tolist()

# Replace '*' with NaN in the specified columns
for col in object_cols_after_10:
    df12[col] = df12[col].replace('*', np.nan)

# Convert columns to float
df12[object_cols_after_10] = df12[object_cols_after_10].astype(float)

In [25]:
print(df9.dtypes)

Period                                          object
Fund name                                       object
Fund type                                       object
ABN                                            float64
Proportion of investments in  fixed income     float64
Proportion of investments in equity            float64
Proportion of investments in property          float64
Proportion of investments in infrastructure    float64
Proportion of investments in commodities       float64
Proportion of investments in other             float64
dtype: object

In [26]:


# Convert ABN to string in each DataFrame
df3['ABN'] = df3['ABN'].astype(str)
df9['ABN'] = df9['ABN'].astype(str)
df12['ABN'] = df12['ABN'].astype(str)

# Step 2: Create a key column
df3['key'] = df3['Period'] + df3['ABN'] + df3['Fund name']
df9['key'] = df9['Period'] + df9['ABN'] + df9['Fund name']
df12['key'] = df12['Period'] + df12['ABN'] + df12['Fund name']

# Step 3: Perform inner joins
df_merged = df3.merge(df9, on='key', how='inner')
df_merged = df_merged.merge(df12, on='key', how='inner')

In [29]:
df = pd.read_csv('Table2_3_6_9_11_12_clean_filtered.csv')

In [32]:
df.shape

(3710, 85)

In [33]:
important_columns  = ["Period", "Fund name", "Fund type", "ABN",
    "Net assets at beginning of period", "Net assets at the end of period",
    "Employer contributions ",
    "Member contributions", "Net rollovers", "Total benefit payments ", "Net earnings ",
    "Total investment income",
    "Total gains/losses",
    "Operating expense ratio",
    "Net earnings after tax",
    "Total liabilities at the end of period",
    "One-year\nrate of return", 'Proportion of investments in  fixed income',
       'Proportion of investments in equity',
       'Proportion of investments in property',
       'Proportion of investments in infrastructure',
       'Proportion of investments in commodities',
       'Proportion of investments in other','Total number of member accounts at the end of period',
       'Number of members accounts : female',
       'Number of members accounts : male']